body {
  font-family: sans-serif;
  font-size: 12px;
}

.main-flex-container {
  display: flex;
}

.secondary-flex-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 33.33%;
  height: 150px;
  line-height: 150px;
  color: white;
  text-align: center;
}

.hero-image {
  width: 40%;
}

section.hero-image img {
   height: 655px;
   width: 100%;
}


































































/*body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 10px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.block {
  align-content: center;
}

.hero-image {
  width: 40%;
}

.parent-container {
  display: flex;
  justify-content: flex-start;
}

.container-one {
  display: flex;
  flex-wrap: wrap;
}

.container-two {
  width: 40%
}

/*=============================================
Individual block styling
=============================================*/
/*
.main-block {
  background-color: #35BC7A;
}

.block-1 {
  background-color: #FF9E00;
  width: 20%;
  height: 20%;
}

.profile {
  width: 58px;
  margin-bottom: -14px;
}

.block-2 {
  background-color: #1E8BC4;
}

.experience {
  margin-bottom: -27px;
}

.block-3 {
  background-color: #F15A49;
}

.block-4 {
  background-color: #35BC7A;
}

.block-5 {
  background-color: #F86925;
}

.block-6 {
  background-color: #1E8BC4;
}

.block-7 {
  background-color: #F86925;
}*/
